/*
/*/

!/.gitignore
!/.README.md

!/.zshrc

!/.config
/.config/*

!/.config/mako
!/.config/waybar
!/.config/sway
!/.config/swaylock
# !/.config/obsidian
!/.config/nvim
!/.config/ghostty
!/.config/tmux
!/.config/BraveSoftware/Brave-Browser/Default/Preferences
!/.config/starship.toml
!/.config/pip

!/.config/nom
/.config/nom/*
!/.config/nom/config.yml
